html, body {
  margin: 0;
  padding: 0;
}

#page {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#addInfo {
  border: 1px solid blue;
  width: 500px;
  min-width: 250px;
}

#cvContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cv {
  border: 1px solid red;
  height: 95%;
  aspect-ratio: 9/13;
  display: flex;
  justify-content: center;
}

#cvMain {
  border: 1px solid green;
  width: 80%;
}

#personalInfoSection {
  border: 1px solid red;
  width: 100%;
  height: 10%;
}

#workExperienceSection {
  border: 1px solid red;
  width: 100%;
  height: 10%;
}
